<html>
<head></head>

<body>

<form method="POST" action="/save">
	<label>Item</label>
	<input type="text" name="item"/>
	<input type="text" name="amount"/>
	<input type="submit" value="Save"/>
</form>

</body>
</html>
